*~
gui/
test/scratch*
test/res/testproject.sk
casing_sizes.sqlite3
output.log
test/tmp
*.pdb
dll/KI.dll
*.lc
*.o
svd/lookup.c
*.dotCover
*.patch
projects/SafeVisionDaemon/InstallerSupport/public.zip
projects/SafeVisionDaemon/InstallerSupport/apache.zip
projects/SafeVisionDaemon/InstallerSupport/licenses.zip
dll/tar-cs.dll
dll/QuickZipDir.exe
dll/SafekickOpcApi.dll
saved_config.json
.idea/*
*.log
*.pid
svd/sessions.sqlite3
test.vbs
projects/SafeVisionDaemon/InstallShield
.reviewboardrc
*.ilk
svd/fcgi/svdwebfast.exe
v/
